<section id="proyectos">
    <div class="container">
      <h2 class="text-center">Mis proyectos</h2>
      <p class="text-center">Una selección de mis trabajos destacados y soluciones que he desarrollado</p>
  
      <div class="grid-proyectos">
        @for (project of projects; track $index) {
          <figure class="card-proyecto">
            
            @if (project.title === 'Hamburgueseria Rovers') {
              <img src="../../../assets/images/desktop.png" alt="Hamburguesería Rovers" />
            }
            @if (project.title === 'Blog de Viajes') {
              <img src="../../../assets/images/blogviajes.png" alt="Blog de Viajes" />
            }
            @if (project.title === 'Juego Consola') {
              <img src="../../../assets/images/juego consola.png" alt="Juego Consola" />
            }
            @if (project.title === 'Viajeros Unidos') {
              <img src="../../../assets/images/Viajeros_Unidos.png" alt="Viajeros Unidos" />
            }
            @if (project.title === 'Portfolio Personal') {
              <img src="../../../assets/images/portfolio.png" alt="Portfolio Personal" />
            }
            <figcaption>{{ project.title }}<p>{{ project.description }}</p></figcaption>
            <a href="{{ project.url }}" target="_blank">Github</a>
        </figure>
        }
      </div>
    </div>
  </section>
  