<footer>
    <h3>Portfolio</h3>
    <p>Creando soluciones digitales extraordinarias</p>
    
    <div class="social-icons">
      <a href="https://github.com/JavierSP1997" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/javier-sancho-pe-9433ab21b/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  
    <p style="margin-top: 1rem; font-size: 0.9rem; color: gray;">
      &copy; 2025 Javier Sancho Pe. Todos los derechos reservados.
    </p>
  </footer>
  