section {
	background-color: transparent;
	color: rgb(113, 213, 243);
}
img {
	width: 40px;
	border-radius: 20px;
}

p {
	font-size: 1.2rem;
	font-weight: bold;
}
.navbar-toggler {
	border: none;
	outline: none;
	box-shadow: none;
}
.navbar-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1050;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(113, 213, 243)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.change {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath fill="none" stroke="rgb(113, 213, 243)" stroke-width="2" d="M2 2 L28 28 M2 28 L28 2"/%3E%3C/svg%3E');
}

a {
	font-size: 1.3rem;
	margin-left: 20px;
}
.nav-link {
	cursor: pointer;
	position: relative;
	color: rgb(113, 213, 243);
	padding: 5px 0;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: white;
	transition: width 0.3s ease;
}

.nav-link:hover {
	color: white;
}

.nav-link:hover::after {
	width: 100%;
}

@media (max-width: 991.98px) {
	.navbar-collapse.collapsing,
	.navbar-collapse.show {
		background: rgba(6, 32, 56, 0.8);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px); /* Para Safari */
		border-radius: 10px;
		transition: background 0.3s ease, backdrop-filter 0.3s ease;
	}
}
