<section id="contacto">
    <div class="contacto container">
      <h2 class="text-center">Contacto</h2>
      <p class="text-center">¡Gracias por visitar mi portafolio! Si tienes alguna pregunta o deseas ponerte en contacto conmigo, no dudes en hacerlo a través de los siguientes medios:</p>
      
      <div class="contact-info">
        <p><i class="fa fa-phone"></i> Teléfono: <a href="tel:+34655012979">655012979</a></p>
        <p><i class="fa fa-envelope"></i> Correo: <a href="mailto:sanchopej&#64;gmail.com">sanchopej&#64;gmail.com</a></p>
        <p><i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/javier-sancho-pe-9433ab21b/" target="_blank">Javier Sancho Pe</a></p>
        <p><i class="fab fa-github"></i> GitHub: <a href="https://github.com/JavierSancho1997" target="_blank">JavierSancho1997</a></p>
      </div>
      <div>
        <h4 class="text-center">Formación</h4>
        <ul>
            <li>Bootcamp Full Stack Developer (2025)</li>
            <li>Responsive Web Design (2025)</li>
            <li>Grado en Relaciones laborales y Recursos Humanos (2023)</li>
        </ul>
      </div>
    </div>
  </section>