#inicio {
	background-color: #062038;
	padding: 100px 0;
	color: white;
	position: relative;
	height: 100vh;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}
h2 {
	color: rgb(113, 213, 243);
}
strong {
	color: rgb(113, 213, 243);
}
.text h1 {
	font-weight: bold;
	margin-bottom: 10px;
}

p {
	margin-top: 20px;
	font-size: 1.2rem;
	color: lightgray;
}

button {
	margin-top: 50px;
	border-radius: 20px;
	padding: 20px;
	background-color: rgb(113, 213, 243);
	color: 062038;
	border: 1px solid #062038;
	transition: 0.5s;
}

button:hover {
	background-color: #062038;
	border: 1px solid white;
	color: white;
	transition: 0.5s;
}
.social-links {
	border-radius: 5px;
	background-color: white;
	position: absolute;
	left: 10px;
	top: 34%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.social-links a {
	padding: 15px;
	font-size: 30px;
	color: #333;
	text-decoration: none;
	transition: 0.5s;
}

.social-links a:hover {
	color: #0077b5;
	transform: scale(1.2);
	transition: 0.5s;
}
@media (max-width: 1260px) {
	.social-links {
		display: none;
	}
}
