<section id="inicio">
<div class="hero container">
  <div class="text">
    <h1>HOLA, MI NOMBRE ES <strong>JAVIER SANCHO PE</strong></h1>
    <p>Desarrollador web full stack con habilidades en el diseño y desarrollo de aplicaciones completas. Enfoque en ofrecer soluciones eficientes, escalables y orientadas al usuario.</p>
    </div>
    <button>PROYECTOS</button> 
  </div>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/javier-sancho-pe-9433ab21b/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a class="github" href="https://github.com/JavierSP1997" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
  
</section>
<app-sobre-mi></app-sobre-mi>
<app-proyectos></app-proyectos>
