<section id="inicio">
<div class="hero container">
  <div class="text">
    <h2>BIENVENIDO A MI PORTFOLIO</h2>
    <h1>HOLA, MI NOMBRE ES <strong>JAVIER SANCHO PE</strong></h1>
    <h3>DESARROLLADOR WEB FULL STACK</h3>
<p>Desarrollador web formado en tecnologías frontend y backend. Capacidad para crear soluciones web completas utilizando HTML, CSS, JavaScript, TypeScript, Angular, Node.js... Experiencia en metodologías ágiles y trabajo en equipo.</p>

    </div>
    <button (click)="scrollToProjects()">PROYECTOS</button>

  </div>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/javier-sancho-pe-9433ab21b/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a class="github" href="https://github.com/JavierSP1997" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
  
</section>
<app-sobre-mi></app-sobre-mi>
<app-proyectos id="proyectos"></app-proyectos>
<app-contacto></app-contacto>

